# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages that Data Scientists use.
- List some of the commonly used libraries used by Data Scientists
- Create a code cell to convert minutes to hours
- List Commonly used Data Science Tools

Some of the popular languages that Data Scientists use are:
- Julia
- R
- Python

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. matplotlib

|Data Science Tools|
|------------------|
|Apache Spark|
|BigML|
|RStudio|

Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Benjamin Musili